extends layout

block content
  .messages
    for message in messages
      .message
        if user && user.admin
          p.author by #{message.author}
        p.title= message.title
        p.content= message.content
        if user && user.admin
          p.createdAt= message.createdAt 
