doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="stylesheets/style.css")
    title Asgard clubhouse
  body 
    header
      .logo.
        The Asgard Clubhouse
      ul.links
        li
          a(href="/") messages
        if !user
          li 
            a(href="/login") login  
          li    
            a(href="/signup") sign up 
        else
          li
            a(href="/new-message") new message
          if !user.member
            li 
              a(href="/member") member  
          if user.member && !user.admin
            li 
              a(href="/admin") admin
          li
            form(action="/logout", method="post")#logout
              button(type="submit") logout

    block content
