extends layout 

block content
  .form-conteiner
    form(action="", method="post") 
      .form-group
        h1.form-heading login
      .form-group 
        label(for="username") username
        if userInfo  
          input(type="text", name="username", id="username", placeholder="bones", value=user.username, maxlength="50", required)
        else
          input(type="text", name="username", id="username", placeholder="bones", maxlength="50", required)
      .form-group 
        label(for="password") password
        input(type="password", name="password", id="password", maxlength="50", minlength="6", required)
      .form-group.button
        button(type="submit") login
  if errors
    ul.errors
      for e in errors
        li= e.msg