extends layout 

block content
  .form-conteiner
    form(action="", method="post") 
      .form-group
        h1.form-heading new message
      .form-group 
        label(for="title") title
        if info
          input(type="text", name="title", id="title", value=info.title, maxlength="50",required)
        else
          input(type="text", name="title", id="title", maxlength="100", required)
      .form-group 
        label(for="content") content
        if info
          textarea(name="", rows="5", value=info.content, maxlength="1000", required) 
        else
          textarea(name="", rows="5", maxlength="1000", required) 
      .form-group.button
        button(type="submit") create message
  if errors
    ul.errors
      for e in errors
        li= e.msg