/* style reset */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

/* end of style reset */

/* base styles */

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  background-color: #63bdc2;
  color: aliceblue;
}

/* end of base styles */

/* header styles*/

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;

  padding: 20px;

  background-color: #3e7174;

  color: aliceblue;
}

header .logo {
  font-size: 2rem;
}

header .links {
  display: flex;
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.2rem;
  font-weight: normal;
}

#logout button {
  background-color: transparent;
  font-size: 1.1rem;
  padding: 0;
  margin: 0;
  color: inherit;
  cursor: pointer;
  color: rgb(245, 173, 80);
}

/* end of header  styles*/

/* form styles */

.form-conteiner {
  display: flex;
  justify-content: center;
}

form:not(#logout) {
  flex-grow: 1;

  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  max-width: 900px;
}

.form-group {
  margin-bottom: 25px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group.button {
  /* max-width: 500px; */
  margin: auto;
}

.form-group:last-child {
  margin-top: 40px;
}

form input,
form textarea {
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1rem;

  background-color: beige;
}

form textarea {
  resize: vertical;
}
form input:focus {
  box-shadow: 0px 0px 5px 2px rgb(0, 28, 155);
}

form button {
  padding: 15px 5px;
  background-color: aqua;
  border: none;
  border-radius: 10px;
}

.errors {
  text-align: center;
  line-height: 1.5;
  color: rgb(116, 44, 22);
}
/* end of form styles */

/* messages styles */

.messages {
  margin: 50px 10px 0 10px;
}

.message {
  max-width: 600px;
  margin: auto;
  margin-bottom: 50px;
  background-color: #3d4646;
  border-radius: 10px;
  padding: 10px;
  color: blanchedalmond;
}

.message .author {
  font-size: 0.8rem;

  font-weight: 300;

  margin-bottom: 15px;
  margin-left: 10px;
}

.message .title {
  font-size: 1.3rem;

  margin-bottom: 25px;
}

.message .content {
  font-size: 1rem;

  padding-bottom: 15px;
  border-bottom: 4px solid rgb(111, 206, 206);
}

.message .createdAt {
  margin-top: 3px;
  text-align: right;
  color: rgb(143, 240, 240);
  font-size: 0.8rem;
}

/* end of messages styles */
